<div class="wp-text-area">
  <h1>Web 2.0 and Beyond</h1>
  <p>
    The term Web 2.0 became popular in the first decade of the
    twenty-first century. It describes the changes that took place as
    people realized that the Web could do more than serve Academic
    papers. It does not describe any new technology. Rather, it
    describes the use that people put to the client-server model
    underlying the Web. Web 2.0 applications include social
    networking, blocks, wikis, etc. They all rely on the ability
    intrinsic in the web server to accept information from client.
  </p>
  <p>
    The technology required to support Web 2.0 services are implicit
    in the first specifications of HTML and HTTP. This technology
    include forms with "GET", "PUT" and "POST" attributes. The forms allow
    the user to enter information into the web page, the PUT and POST
    attributes specify how this information is sent back to the Web
    server. Even the original "GET" method can return information to
    the server encoded in the URL.
  </p>
  <h2>Birth of JavaScript</h2>
  <p>
    The browser, Mosaic, changed the web from a site to share academic
    papers to a popular personal publishing platform. It was the first
    a widely available Web browser that showed text, video, audio and
    graphics in the same window. It was developed at the National
    Center for Super-computing Applications in Illinois, so it was
    also free.
  </p>
  <p>
    Marc Andreesen, one of the co-developers of the application
    graduated the University of Illinois and started a company called
    Netscape which produced Netscape Navigator. Initially, Netscape
    was successful: soon after it's IPO in 1995, it was valued at $2.9
    billion, the first of the hugely profitable Internet
    companies. However, Internet Explorer was released in 1995, and
    emerged victorious from the browser wars in 1998, largely because
    Microsoft shipped it with Windows 97. In 1998, Netscape release
    Mozilla, and open source version of their code, which gave rise to
    Firefox.
  </p>
  <p>
    The years of Netscape's dominance saw the birth of the dynamic
    web. In particular, Netscape produce JavaScript, which was adopted
    as the standard scripting language for the Web.
  </p>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Netscape">
	Netscape (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Web_2.0">
	Web 2.0 (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Dynamic_HTML">
	Dynamic HTML (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="">
	
      </a>
    </li>
  </ul>
  <h1>Client, Server and Database</h1>
  <p>
    There are three elements to the Dynamic Web. The client is a
    browser that supports HTML to provide the forms into which the
    user enters data and JavaScript that manipulates the data before
    it is sent back to the Web server.
  </p>
  <p>
    The Web server is the second element in the Dynamic Web. It
    accepts the information sent from the browser and decides what do
    with it. Web servers may run man different languages, including
    JavaScript. Generally, the Web server remembers
  </p>
  <p>
    A database server provides the needed third element. The database
    stores the data returned by the user so it persists over multiple
    visits from the user. A DBMS (Database Management System) returns
    the data in responce to queries from the Web Server. The Database
    Server provides the communication link between the Web Server and
    the Database Server.
  </p>
  <h2>Client: Forms, JavaScript and Ajax</h2>
  <p>
    The browser is the client. It interprets HTML, CSS and JavaScript
    producing the information on the browser window. The early web
    only display information, so it only needed to transform the
    HTML into graphics that appear on the window. The Dynamic Web
    provides scripting through JavaScript. Using JavaScript,
    programmers can change the styling of the page, interact with
    information entered by the user through forms, and send
    information back to the server.
  </p>
  <h3>Forms</h3>
  <p>
    Forms allow HTML to specify input from the user. You can define
    the type of input that you expect from the user (e.g. text,
    checkbox, etc.). You can also specify a submit button and, when
    the user hit the submit button an HTTP request is sent to the Web
    Server.
  </p>
  <p>
  </p>
  <h3>GET, PUT and POST</h3>
  <p>
    There are three ways to send information to the server: GET, PUT
    and POST. The GET command encode the form information in the URL
    is send. For example the command <input type="text" name="name"
    value="Nat"> will send the URL
    "http://www.example.com/url.html?name=Nat". That is, GET encodes
    the
    information collected by returning the page's URL followed by a
    '?' followed by the data. Characters relevant to URLs are replaced
    by a '%' followed by their ASCII values.
  </p>
  <p>
    PUT and POST send information back as the body of the message. The
    advantage of GET is the information is encoded in a way that is
    easy to parse and manipulate, whereas PUT and POST require
    encoding and decoding. However, GET can only send limited amounts
    of information whereas PUT and POST have no such limits.
  </p>
  <p>
    PUT and POST differ in the intention they express. The behavior is
    implemented by the server, but PUT is meant to be used to upload a
    new web page. The content of the request is placed in the URL
    specified. If there is information in that place, the PUT is taken
    to be an update and the old information is replaced with the new.
  </p>
  <p>
    POST, unlike PUT, is taken to be information that is to be used to
    update a site. The idea is that POST is information that is posted
    to a site as comments; PUT is an update of the site.
  </p>
  <h3>JavaScript</h3>
  <p>
    Despite its name, JavaScript is nothing like Java (in fact,
    officially its name is ECMAScript, but few people call it
    that). Java is a strongly typed language that is compiled into
    byte code to run as an application program. JavaScript is a weakly
    typed language that is interpreted in the browser. Their syntax is
    similar, but most computer languages since C have had similar
    syntax.
  </p>
  <h3>Features of JavaScript</h3>
  <p>
    JavaScript is different from other languages in the following
    ways.
    <ul>
      <li>
	Like many scripting languages, uses dynamic typing in which
	the type of a variable is determined by its content. That is,
	you can assign an integer to a variable then a couple of lines
	later, assign a string to it. The "feature" can lead to mean
	hard-to-find bugs.
      </li>
      <li>
	It is also completely object based: everything is an
	object. Both the string and the integer you assign to a
	variable are objects.
      </li>
      <li>
	Functions are first class objects in JavaScript. You can
	assign a function to a variable and call the function based on
	that variable. In fact, functions are also objects which
	methods such as .call() defined on them.
      </li>
      <li>
	Unlike most object-oriented languages, JavaScript is based on
	prototypes rather than classes. Objects are defined by other
	objects which server as a prototype rather than being defined
	by a class. In JavaScript you can create a new object either
	by defining it directly in the code or by defining it based on
	a different object using <code>Object.create()</code>. For
	example:
	<div class="code">
var foo = {one: 1, two: 2};
var bar = Object.create(foo);
bar.three = 3;
bar.three == bar.one + bar.two;
foo.three // is undefined
	</div>
	Here foo is an object defined directly in the code and bar is
	defined from foo. The bar object is them modified by adding a
	new attribute, <code>three</code>. The foo object does not
	have the new attribute.
      </li>
  </p>
  <h3>Ajax</h3>
  <p>
    By default, Web works synchronously: when a command is sent, the
    Web Browser waits until it receives a response before
    continuing. AJAX (Asynchronous JavaScript And XML) is a system
    that allows browsers to send requests and continue
    processing. Despite the name, JSON data structures are usually
    sent using Ajax because JSON is easier to parse in JavaScript.
  </p>
  <p>
    Ajax was developed over the end of the 1990's and early 2000's. It
    was announced in 2005 and standardized by the World Wide Web
    Consortium in 2006. It is now supported in all major browsers.
  </p>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Form_%28HTML%29">
	HTML Forms (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/JavaScript">
	JavaScript (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Prototype-based_programming">
	Prototype-based Programming (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Ajax_%28programming%29">
	Ajax (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="">
	
      </a>
    </li>
  </ul>
  <h2>Web Server</h2>
  <p>
    The Web Server simply provides web pages when it receives a GET
    command. It does not change anything on the server, so this
    command is called "safe". It does change the content when it
    receives a PUT or a POST command, so these commands are called
    "unsafe". It must take care that the web site is not damaged when
    it processes a PUT or a POST command.
  </p>
  <p>
    When information is sent back to the web server, it needs to be
    processed. The server uses many different technologies to process
    the information because HTML and HTTP provide a clean interface
    against for its output. 
  </p>
  <p>
    In the early days, information was processed using a Common
    Gateway Interface. This interface specified certain directories as
    containing script that were used to process information sent back
    by web pages. The scripts in this directory were run when
    requested and web page that the script produced was returned.
  </p>
  <p>
    By the late 1990's, Netscape has lost the browser wars to
    Microsoft. Microsoft's solution to CGI problems was Active Server
    Pages (ASP). Active server pages allowed programmers to create
    HTML pages in a programming environment. Sun responded with Java
    Servlets and Java Server Pages (JSP).
  <p>
    There are now several different server programming
    systems. Apache, the most common, provides support for JSPs. Ruby
    on Rails supports the programming language Ruby. Django supports
    the programming language Python.
  </p>
  <p>
    In this class we are using Node JS, a system that supports
    JavaScript. Node JS allows the programmer to use the same language
    on the server that he or she does on the client.
  </p>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Common_Gateway_Interface">
	Common Gateway Interface (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Active_Server_Pages">
	Active Server Pages (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Java_Servlet">
	Java Servlet (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/JavaServer_Pages">
	Java Server Pages (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Active_Server_Pages">
	Active Server Pages (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Ruby_on_Rails">
	Ruby on Rails (Wikipedia)
      </a>
    </li> 
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Django_%28web_framework%29">
	Django (Wikipedia)
      </a>
    </li>
  </ul>
  <h2>The Database</h2>
  <p>
    The database provide a critical element in any computer
    application. Computers comprise a memory, a processor and a user
    interface. At a higher level of abstraction, the database supplies
    the memory for the application.
  </p>
  <h3>SQL: Structured Query Language</h3>
  <p>
    SQL is the most common language used by DBMS's (Database
    Management Systems). It was invented in the 1970s as a way to
    store data in such a way that it could be retrieved without
    specific assumptions about how the data would be used. It is a
    relational data language, which means that is it constructed from
    a set of tables. The tables are called relations and they
    represent types of objects. Each row in the table represents an
    object of that type. By focusing on representing types of things
    and individual things, relational databases try by be agnostic
    about the way the data is represented.
  </p>
  <h3>NoSQL: Not Only SQL</h3>
  <p>
    Object oriented databases were developed in the 1980's to support
    object-oriented programming. These database represented types as
    classes and individuals as objects.
  </p>
  <p>
    NoSQL databases were designed to support the web. Document
    oriented database return data that can be used to construct
    documents that may be returned as HTML. By moving away from the
    ideal of representing each individual object as its own thing,
    these database management systems respond faster.
  </p>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Database">
	Database (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/SQL">
	SQL (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/NoSQL">
	NoSQL (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/MongoDB">
	MongoDB
      </a>
    </li>
  </ul>
  <h1>Mobile Web</h1>
  <p>
    With the smart phone, computers have again changed their
    form. They are now integrated into real world activities. Because
    they are small enough to be used in normal activities, they tend
    to be limited in the amout of information they can present. They
    also tend to have limited access to the web because cellular
    connections are often expensive and slow.
  </p>
  <p>
    Currently, these limitations are ameliorated through JavaScript
    and CSS Libraries. Bootstrap is a front end framework that makes
    it easier to develop web pages that will work on both
    laptop/desktop computers and on smart phones.
  </p>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Mobile_Web">
	Mobile Web (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/Bootstrap_%28front-end_framework%29">
	Bootstrap (Wikipedia)
      </a>
    </li>
  </ul>
</div>
