<div class="wp-text-area">
  <h1>DataBases</h1>
  <p>
    Databases contain data. Technically, a ledger book or a
    spreadsheet are databases, but usually, when databases refer to
    computer supported databases. On the computer, a Database
    Management System (DBMS) manages the data. The DBMS lets user
    create, read, update and delete (CRUD) the data it stores. It also
    makes sure that when multiple users update the same records
    reasonable things happen.
  </p>
  <p>
  </p>
  <h2>Relational Databases</h2>
  <p>
    Relational Databases were developed in the 1970's. They represent
    data as sets of relations, or tables. Technically, a relation is a
    mathematical object defined as a set of tuples, where a tuple is
    an ordered set of objects. A functions is a type of relation in
    which a subset of object in the tuple, uniquely determines all the
    rest of the objects: that is, any particular input to the function
    return a unique value. As a simplification, think of a relation as
    a table of values. Each row in the table is a tuple. The order of
    the rows is unimportant. 
  </p>
  <p>
    Most databases used in industry is relational databases.
  </p>
  <p>
    The most common DBMS's use SQL (pronouced "sequel" standing for
    Structured Query Language). SQL uses a relational model where data
    is structured in tables where each row in the table represents a
    different object in the real world.
  </p>
  <h2>Object Oriented Databases</h2>
  <p>
  </p>
  <h2>Document Databases</h2>
  <p>
  </p>
  <p>
  </p>
  <ul class="references">
    <li class="ref">
      <a href="">
	
      </a>
    </li>
  </ul>
</div>
