<!-- lessons/templates/navigation.tpl.html -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header wp-navbar">
      <a class="navbar-brand" href="#">Web Programming</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
	<li>
	  <a href="/wp/index.html">Home</a>
	</li>
	<li>
	  <a href="/wp/faculty.html">Faculty</a>
	</li>
	<li>
	  <a href="/wp/students.html">Students</a>
	</li>
	<li class="active">
	  <a href="#">Lessons</a>
	</li>
	<li>
	  <a href="/wp/labs/index.html">Labs</a>
	</li>
      </ul>
    </div>
  </div>
</nav>
