<div class="wp-text-area">
  <h1>Original Intent</h1>
  <p>
    Initially, the web supported scientists sharing papers. It was
    designed and developed by Tim Berners-Lee as a hypertext system
    for the Internet. Indeed, the first specification for HTTP only
    included the GET command.
  </p>
  <h2>Hypertext and the Internet</h2>
  <p>
    Hypertext first appeared in an article by Vannevar Bush in the
    Atlantic magazine in 1945. Bush described Memex, a collective
    memory that was stored on microfilm, but could be accessed through
    a screen on the desk. Each article was linked to other articles in
    the desk by references.  Memex could incorporate new information
    in the form of additional microfilm rolls, ordered delivered by
    mail. It, Bush argued, provided access to information in a way
    that was more attuned to the way people think than traditional
    libraries because the references were connected to arbitrary
    microfilm frames and could connect to other arbitrary microfilm
    frames. Memex included no modern computer technology because the term
    "computer" still referred to people who performed
    calculations. Turings paper describing machines that performed
    symbolic though was still a year in the future.
  </p>
  <p>
    Early computers cost to much to support the individual use
    required by hypertext. An early hypertext system was presented in
    Douglas Englebart', "The Mother of all Demos" in 1968. In the
    early 1970's Xerox PARC and Carnegie Mellon released hypertext
    systems. Apple began selling HyperCard, the first widely
    successful hypertext system, in 1987. Hypercard only ran on a
    single computer, thought, it did not have access to any
    information that was not on the computer itself. Ironically, the
    user interface of the Apple Macintosh, which ran Hypercard, was
    based on the Lisp Machines of the early 1980's, all of which
    supported TCP/IP. However, the Macintosh followed in the steps of
    the IBM PC and the Apple II, which grew out of inexpensive
    hobbyist computers and did not have networking capability. Steve
    Jobs decided to leave out networking.
  </p>
  <p>
    TCP/IP had been in use since the 1970's and in 1983, it became the
    only protocol on ARPANet. ARPANet was superceeded by NSFNet, from
    the U.S. National Science Foundation, which, in turn, was replaced
    by the commercially funded Internet. By the late 1980's all
    universities and many companies were connected to the Internet and
    email was the preferred means of communicating in the academy.
  </p>
  <p>
    Tim Berners-Lee's insight was to combine the Internet with
    Hypertext. His solution was to provide an HTML tag, called an
    anchor, that allowed people to insert links to other Web
    documents. When one clicks on an anchor, the page to which it
    refers loads in the browser providing a connection between any
    document on the Web and any other document on the Web.
  </p>
  <h2>Sharing Documents</h2>
  <p>
    The Web was designed by academics to share documents. In as sense,
    it grows naturally out of academic writing where every factual
    statement must refer to the document that demonstrates that the
    statement is indeed fact or must be proved in the paper
    itself. The Web only made the standard academic process of
    tracking down citations much quicker using computers: one need
    only click on the link and the cited paper would be delivered to
    your computer screen.
  </p>
  <h3>HTML for Document Sharing</h3>
  <p>
    HTML include tags and attributes. HTML tags are items that appear
    in angle brackets such as <code>&ltp&gt</code>, which indicates
    the start of a paragraph. Most tags are paired, including and
    start tag (e.g., <code>&ltp&gt</code>) and an end tag
    (e.g., <code>&lt/p&gt</code>).
  </p>
  <p>
    HTML attributes appear within the brackets of the start tag. For
    example, the anchor tag, <code>&lta&gt</code>, has an
    attribute, <code>href</code> that indicates what indicates which
    pages to load when the reader clicks on the text. For example, if
    you include <code>&lta href="google.com"&gtGoogle&lta&gt</code> in
    your document, the text "Google" will appear as a link and you
    will be taken to the Google home page if you click on it.
  </p>
  <p>
    An HTML document is specified by the
    tag <code>&lthtml&gt</code>. It comes in two parts: the head,
    specified by the tag <code>&lthead&gt</code>, and the body,
    specified by the tab <code>&ltbody&gt</code>. The body contains
    almost all of the text that the browser displays.
  </p>
  <p>
    The body contains two types of elements: block and inline elements.
  </p>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="http://en.wikipedia.org/wiki/HTML_element">
	HTML Elements (Wikipedia)
      </a>
    </li>
    <li class="ref">
      <a href="http://www.w3schools.com/tags/default.asp">
	HTML Tag Reference (W3 Schools)
      </a>
    <li class="ref">
      <a href="">
	
      </a>
    </li>
  </ul>
  <h2>Writing Documents for the Web</h2>
  <p>
    The document should only indicate what the elements in the
    document are; the browser know better how to display them.
  </p>
  <h2>The Limits of Writing Documents</h2>
  <p>
    Initially, Web documents were written by authors to share
    information, but the effort required to maintain a set of
    documents quickly became apparent. People developed programming
    tools to help manage web sites.
  </p>
  <p>
    In addition, tools for accepting input a providing that input to
    programs were developed.
  </p>
  <h3>References</h3>
    <li class="ref">
      <a href="">
	
      </a>
    </li>
  </ul>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="">
	
      </a>
    </li>
  </ul>
</div>
