<ul>
  <li>
    Unit 1: Development of Computing and the World Wide Web
    <ol>
      <li><a href="/wp/lessons/introduction.html">Introduction</a></li>
      <li><a href="/wp/lessons/CLI.html">CLI Interface</a></li>
      <li>
	<a href="/wp/lessons/WIMP.html">
	  WIMP Interface
	</a>
      </li>
      <li><a href="/wp/lessons/web-basics.html">Web Infrastructure</a></li>
      <li><a href="/wp/lessons/static-web.html">Static Web</a></li>
      <li>
	<a href="/wp/lessons/active-mobile-web.html">
	  Active and Mobile
	</a>
      </li>
    </ol>
  </li>
  <li>
    Unit 2: Programming the World Wide Web
    <ol>
      <li>
	<a href="/wp/lessons/javaScript.html">
	  Javascript 1: Functional Programming
	</a>
      </li>
      <li>
	<a href="/wp/lessons/javaScript2.html">
	  Javascript 2: Objects and Closures
	</a>
      </li>
      <li>
	<a href="/wp/lessons/testing.html">
	  Automated Testing: End to End and Unit Testing
	</a>
      </li>
      <li>
	<a href="/wp/lessons/databases.html">
	  Databases: SQL and NoSQL
	</a>
      </li>
      <li>
	<a href="/wp/lessons/js-libraries.html">
	  JS Libraries
	</a>
      </li>
      <li>
	<a href="/wp/lessons/agile.html">
	  Agile
	</a>
      </li>
      <li>Review</li>
      <li>Test</li>
    </ol>
  </li>
  <li>
    Unit 3: Developing applications
    <ol>
      <li>
	<a href="/wp/lessons/clean-code.html">
	  Clean Code
	</a>
      </li>
      <li>
	<a href="/wp/lessons/architecture.html">
	  Architecture
	</a>
      </li>
      <li>
	TDD
      </li>
      <li>
	Specification by Example
      </li>
      <li>
	Systems Engineering
      </li>
      <li>
	TBD
      </li>
    </ol>
  </li>
  <li>
    Unit 4: Design and Working in Teams
    <ol>
      <li>
	Form Teams
      </li>
      <li>
	User Centered Design
      </li>
      <li>
	Backlog Development
      </li>
      <li>
	Lab Based HCI
      </li>
      <li>
	Graphic design
      </li>
      <li>
	Ethnography
      </li>
      <li>Review</li>
      <li>Test</li>
    </ol>
  </li>
</ul>
