<ul>
  <li><a href="/wp/lessons/preface.html">Preface</a></li>
  <li>
    Unit 1: Development of Computing and the World Wide Web
    <ol>
      <li><a href="/wp/lessons/introduction.html">Introduction</a></li>
      <li><a href="/wp/lessons/CLI.html">CLI Interface</a></li>
      <li>
	<a href="/wp/lessons/WIMP.html">
	  WIMP Interface
	</a>
      </li>
      <li><a href="/wp/lessons/web-basics.html">Web Infrastructure</a></li>
      <li><a href="/wp/lessons/static-web.html">Static Web</a></li>
      <li>
	<a href="/wp/lessons/active-mobile-web.html">
	  Active and Mobile
	</a>
      </li>
    </ol>
  </li>
  <li>
    Unit 2: Programming the World Wide Web
    <ol>
      <li>
	Javascript 1: Functional Programming
      </li>
      <li>
	Javascript 2: Objects and Closures
      </li>
      <li>
	Automated Testing: End to End and Unit Testing
      </li>
      <li>
	Databases: SQL and NoSQL
      </li>
      <li>
	Architecture: Three level architecture and Model
	View Controller
      </li>
    </ol>
  </li>
  <li>Unit 3: Developing applications</li>
  <ol>
    <li>
      <a href="/wp/lessons/clean-code.html">
	Clean Code:: separation of concerns and modularity
      </a>
    </li>
    <li>
      Test Driven Development:: separation of concerns and modularity
    </li>
    <li>
      Agile Development: Stories, Standup, Planning
    </li>
    <li>
      Specification by Example: Stories and Tests
    </li>
    <li>
      Lean Development: End to End Specification
    </li>
  </ol>
  <li>Unit 4: Design and Working in Teams</li>
  <ol>
    <li>
      User Centered Design
    </li>
    <li>
      Backlog Development
    </li>
    <li>
      Lab Based HCI
    </li>
    <li>
      Graphic design
    </li>
    <li>
      Ethnography
    </li>
  </ol>
</ul>
