	  <h1>The Internet and the World Wide Web</h1>
	  <p>
	    The Internet and the World Wide Web differ in the same way
	    an aircraft carrier and an aircraft differ. The Internet
	    carries the World Wide Web, but it carries a lot of other
	    things too. The Internet is a protocol that supports the
	    connection of multiple networks. These networks move
	    the information. The World Wide Web is a protocol for
	    requesting information over the interconnected networks
	    and for displaying that information when it arrives. 
	  </p>
	  <h2>Client Server Architecture</h2>
	  <p>
	    A client-server architecture includes two programs: a
	    client and a program. The client program requests
	    information from the server program; the server program
	    delivers the information. Though conceptually simple,
	    client server programs are somewhat complicated: the
	    server program must provide a means of contacting it. When
	    a client contacts it, the server must switch communication
	    to another channel to free the channel on which other
	    program are listenting and start a new thread to handle
	    the communication with the current client.
	  </p>
	  <p>
	    The client server architecture separates concerns
	    well. The server performs a simple computation and returns
	    the result of that computation to the client. The client
	    need know nothing about how the server computes the
	    result; the server need know nothing about what the client
	    does with the result.
	  </p>
	  <p>
	    Clients communicate with servers in one of two
	    ways <strong>syncronous</strong>
	    and <strong>asynchronous</strong>. When a client
	    communicates with the server synchronously, it request a
	    result from the client, then waits until the client
	    returns it. When a client commmunicates asynchronously, it
	    continues working while it waits for the result. Programs
	    that communicate synchronously are easier to write;
	    synchronous calls are just like function
	    calls. Asynchronous programs are more difficult to
	    write. The client must provide a way to access the results
	    once they are returned.
	  <h2>The Internet</h2>
	  <p>
	    The Intenet is a set of interlocking protocols. It grew
	    out of the ARPAnet, which was active in the 1970's and
	    1980's. The ARPAnet was a US Military network that grew
	    into a broad international scientific network. It was
	    replaced by the Internet (a civialian network) under the
	    influence of Al Gore's Congressional Committee.
	  </p>
	  <p>
	    The <a href="">IETF (Internet Engineering Task Force)</a>
	    manages in Internet Protocols as a set of RFC's (Request
	    for Comments). It has no governing powers, rather, it
	    publishes standards that anyone may implement. However,
	    unless the protocols are implemeted exactly according to
	    the IETF standards, the implementer's system will not
	    connect to the internet. The interconnectivity of the
	    Internet governs it.
	  </p>
	  <h3>Packet Switching</h3>
	  <p>
	    The Internet works by packet switching. Unlike a
	    telephone, which works by circuit switching, the Internet
	    protocol specifies that the sending computer break
	    messages into packets and address each of these packets to
	    the receiving computer. The receiving computer then puts
	    the packets back together based on sequence numbers the
	    sending computer provided.
	  </p>
	  <h3>Routing</h3>
	  <p>
	  </p>
	  <h3>The World Wide Web</h3>
	  <p>
	  </p>
	  <h3>References</h3>
	  <ul class="references">
	    <li class="ref">
	      <a href="http://en.wikipedia.org/wiki/Minicomputer">
		Minicomputer
	      </a>
	    </li>
	    <li class="ref">
	      <a href="http://en.wikipedia.org/wiki/Microcomputer">
		Microcomputer
	      </a>
	    </li>
	    <li class="ref">
	      <a href="http://en.wikipedia.org/wiki/Personal_computer">
		Personal Computer
	      </a>
	    </li>
	    <li class="ref">
	      <a href="http://en.wikipedia.org/wiki/The_Mother_of_All_Demos">
		The Mother of All Demos
	      </a>
	    </li>
	    <li class="ref">
	      <a href="http://en.wikipedia.org/wiki/Software">
		Software
	      </a>
	    </li>
	    <li class="ref">
	      <a href="">

	      </a>
	    </li>
	  </ul>
