<div class="wp-text-area">
  <h2>Manual End to End Testing</h2>
  <p>
    Manual End to End Testing (ME2E) relies on a clear understanding of what the user does and what the user should expent with he or she does that. Often, one of the best tools for ME2E testing are illustrations of what the user interface should be. Spreadsheet are another useful tool for ME2E testing. Here, we will provide an example of ME2E testing using spreadsheets.
  </p>
  <h2>A New Project</h2>
  <p>
    To demmonstrate these tools, we will need a new project. We will build a blog system that lets people write messages, read them, and comment on them. This is a common example. We will use to to show how to integrate testing into the development of software.
  </p>
</div>
<div class="code">
  This is some code
</div>
<ol class="activity">
  <li class="enter">This is an item
  </li>
  <li class="do">
  </li>
</ol>
  </li>
  <li class="do">Read 
    <a href="">
      URL
    </a>
  </li>
</ol>
<div class="wp-text-area">
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="">
	Reference
      </a>
    </li>
  </ul>
</div>

<hr>
<address></address>
<!-- hhmts start --><!-- hhmts end -->
