<div class="wp-text-area">
  <h1>Testing with Jasmine</h1>
  <p>
    Yesterday we wrote a JavaScript program step by step testing at each step. It may see that we moved more slowly than we would have had we written the entire program and test that, but that only works if the entire program works. Usually, it will not, expecially when you are first starting out. If we are lucky, it will crash because of some type or a flaw in the logic. We then need to work through the entire program to find the place where we have made a typo. When the entire program is only a few lines, we can search quickly; if the program is long, we cannot. If we are unlucky, the program will look like it is working and we will only discover out logic flaws after we have typed in a lot more of the program. In this case, the entire program may be huge and our task insurmountable. 
  </p>
  <p>
  	Still, this approach is limited because we can only do the tests as we write the program. As the program gets bigger we cannot do the tests we did when we started out. Jasmine gives you the ability to write tests that will last longer than the process of programming. They are JavaScript programs that save the little pieces of the code that we build in the process of contructing a program and let us run them whenever we want to.
  </p>
  <p>
  	Today, we will be download the Jasmine program. We will run the sample program that comes with the package, and if time allows, I will discuss what it is doing.
  </p>
</div>
