<div class="wp-text-area">
	<p>
		In this lesson I will go through the development of the first program in the W3Schools JavaScript lessons.
	</p>
	<p>
		Before we do this we will need to download two pictures from the server. To do this we will using <code>wget</code> to get the file from the server and <code>tar</code> to extract the files from the tar ball.
	</p>
</div>
<ol class="activity">
	<li class="enter">
		cd ~/src/wp/html
	</li>
	<li class="enter">
		wget 172.16.24.22/img.tar
	</li>
	<li class="enter">
		tar -xvf img.tar
	</li>
	<li class="see">
		When you do an ls, you should see the file img.tar and the directory img. The directory should have the two files we need.
	</li>
</ol>
<div class="wp-text-area">
	<p>
		First, typing in the following code. This simple HTML should take about five minutes. You may write less, but <strong>do not write more</strong>. Save the code in <code>~/src/wp/html/lightbulb.html</code>
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		We will test the code by starting the server and looking at the code in the browser. If the server is not running, start it. Then point the browser to <code>localhost:30000/lightbulb.html.</code>. Do you see the title and the header? If not, fix the code before moving on.
	</p>
	<p>
		This little program performs a series of tests. By loading it in your server, you test that the server is running and that the page is loading properly.
	</p>
	<p>
		Once you have it running, save it using <code>git</code>. Next, add a little bit more code.
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		Refresh the your broswer window to make sure it looks right. If it does, add a little more.	Do you see the picture of the lightbulb? If so, you are ready to go on. Possible error are that the light bulb is not in the right directory. It needs to be in ~/src/wp/html/img. Or you might be asking for it from the wrong directory. It needs to be a relative path "img/pic_bulboff.gif". Or you may have left off the 'gif'.
	</p>
	<p>
		This code still does not add any JavaScript. Instead it test that the code you are editing is the code that is running in your server. It also shows that the image is in the right directory to be loaded. Again save the code using <code>git</code> before moving on to another small change.
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg onclick="changeImage()" src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
		&ltscript type="text/javascript"&gt
		function changeImage() {
			document.write("function called");
		}
		&lt/script>&gt	
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		What happens when you click on light bulb? Does the page go away and you see "function called". If so, the program worked.
	</p>
	<p>
		Here we have tested that we can associated a function with an action on the image, and that the function will be called when we do the action. When it works, add it to <code>git</code> and continue
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg id="bulbImg" onclick="changeImage()" src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
		&ltscript type="text/javascript"&gt
		function changeImage() {
			var image = document.getElementById('bulbImg');
			image.src = "img/pic_bulbon.gif;
		}
		&lt/script>&gt	
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		Now when you click on the image, does the bulb turn on? If so, now change the logic so that it turns the bulb off too.
	</p>
	<p>
		We have tested that the function will change the image. Add it to <code>git</code> and finish the code.
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg id="bulbImg" onclick="changeImage()" src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
		&ltscript type="text/javascript"&gt
		function changeImage() {
			var image = document.getElementById('bulbImg');
			if (image.src.match(“bulboff”)) {
				bulbImg.src = "img/pic_bulbon.gif"
			} else {
				bulbImg.src = “img/pic_bulboff.gif”
			}
		}
		&lt/script>&gt	
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
</div>


