<div class="wp-text-area">
	<p>
		In this lesson I will go through the development of the first program in the W3Schools JavaScript lessons.
	</p>
	<p>
		First, typing in the following code. This simple HTML should take about five minutes. You may write less, but <strong>do not write more</strong>. Save the code in <code>~/src/wp/html/lightbulb.html</code>
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		We will test the code by starting the server and looking at the code in the browser. If the server is not running, start it. Then point the browser to <code>localhost:30000/lightbulb.html.</code>. Do you see the title and the header? If not, fix the code before moving on.
	</p>
	<p>
		Next, add a little bit more code.
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		Refresh the your broswer window to make sure it looks right. If it does, add a little more.	Do you see the picture of the lightbulb?
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		
	</p>
</div>
<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
		&ltimg src="img/pic_bulboff.gif"&gt
		&ltp&gt
			Click the light bulb to turn on/off the light.
		&lt/p&gt
	&lt/body&gt
&lt/html&gt
</div>
<div class="wp-text-area">
	<p>
		Do you see the light bul
	</p>
</div>
