<div class="wp-text-area">
	<h1>JavaScript Intro</h1>
	<p>
		JavaScript works in the browser. It provides client side programming for the Web. This first lesson covers basic programming in JavaScript. Well, actually, just basic programming. You will need to learn most of JavaScript on your own. I will be introducing you to techniques you can use as you write in JavaScript. Because JavaScript runs in the browser, these techniques are particularly important. Unlike compiled languages, your error messages are often a blank page. It helps to be in control of the program
	</p>
	<p>
		Write only as much as you are willing to throw away before testing. Write no more than five mintues before you test. In fact, you should plan your code so that you write it each piece in five minutes or less. Sometimes you may need to write more than than, but recognize that this is a risk. Writing more than five mintues code before testing will probably cost more than five mintues. If you write more and it doesn't work, which it never does, you must look through all of the code to find the problem. The difficulty in finding problems increases exponentially with the size of the code, so many small chunks beat one big chunk every time.
	</p>
</div>