<div class="wp-text-area">
  <h2>JavaScript with Jasmine</h2>
  <p>
    To run Jasmine on our JavaScript programs we will need to split out the JavaScript from the HTML. Such splitting has additional benefits. First, it separates concerns: you can focus on the behavior of the JavaScript in one file and on the behavior of the HTML in another file. Second, it will automatically change the settings of the editor so the editor will suggest appropriate JavaScript completions rather than HTML completions.
  </p>
</div>
<div class="wp-text-area">
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="">
      	Reference
      </a>
    </li>
  </ul>
</div>

<hr>
<address></address>
<!-- hhmts start --><!-- hhmts end -->
