<div class="wp-text-area">
  <h1>Continuing TDD on the Server</h1>
  <p>
    In the last lesson we were working on the server using TDD. However, most of the development was in the specification. This indicates a useful application of TDD, namely it is helpful in exploring new frameworks. However, we have not yet made much progress on our story. As you recall, the story is: "As a blog writer, I want to be able to save my posts so that I do not have to retype them."
  </p>
  <p>
  	We saw Test Driven development:
  	<ol>
  		<li>
  			Write a failing test. If it does not fail, we do not need to write any code, so we can go on to write a new test until we get one that fails.
  		</li>
  		<li>
  			Write the smallest program that will make the test succeed. By the smallest program, we really mean the smallest program. For example we can write a multiply funciton that simply retruns ten if the test is to multiply five by two. We will add more tests until we have a real multply function. Writing the program should not take more than five to ten minutes.
  		</li>
  		<li>
  			Refactor the code so that it is easy to understand. This means first, making the code look good with proper indentation and expressive function and variable names. Second, look for any code that is repeated. If you find any pull it out into its own function. Third, make sure that each function only do one thing and that the one thing they do is clearly expressed by its name. Do the same for class, methods and properties. Refactoring is the step that turns student code into professional code.
  		</li>
  	</ol>
  </p>
  <p>
  	Today we will continue with the development of the story.
  </p>
</div>
