<div class="wp-text-area">
	<h1>Sublime Text</h1>
	<p>
		Emacs is a powerful editor, and the one I am most familiar with. However, I have heard (and observed) that some of you are having trouble getting used to it. Dhruv Dangi suggested Sublime Text as a replacement editor. I have tried it out and, other than the frustration of using a new editor, it seems like a good replacement. In fact, it is probably a better editor to start out with because it is closer to Eclipse, the IDE that all programmers use today. Sublime text is not open source, so it will pester you periodically to pay for the program. I recommend moving to Eclipse as soon as you have time, but it would take to long to learn Eclipse and also get use to web programming.
	</p>
	<p>
		One of the big advantages of Sublime over emacs is that it not only indents your programs, it will also suggest the tags that fit. When you type and angle bracket "&lt" and a letter, a menu of possible completions will pop up. You can select the current (highlighted) completion using tab or return. You can select one of the other options by clicking with the mouse.
	</p>
</div>
