<img src="http://imgs.xkcd.com/comics/real_programmers.png">
<div class="wp-text-area">
	<h2>Installing Sublime Text</h2>
	<p>
		Start up a terminal window and enter the following commands into the window. This will install Sublime Text on Ubuntu Linux.
</div>
<ol class="activity">
	<li class="enter">
		<code>sudo add-apt-repository ppa:webupd8team/sublime-text-3</code>
	</li>
	<li class="enter">
		<code>sudo apt-get update</code>
	</li>
	<li class="enter">
		<code>sudo apt-get install sublime-text-installer</code>
	</li>
</ol>
<div class="wp-text-area">
	<p>
		The first of these lines adds an sublime-text-3 to the objects that apt-get knows about. The "ppa" at the beginning of the line stands for Personal Package Archive, which means that it was set up by an individual. Sublime text is not open source software and the author asks for 70 $US to use the software. I recommend that you move to Eclipse as soon as you have the time to learn it. Eclipse is open source. The second tells apt-get to get the information to install it and the third tells apt-get to go ahead and install the program.
	</p>
	<h2>Try out the editor</h2>
	<p>
		To try out the editor, type in the following code from your <code>~/src/wp/html</code>.
	</p>
	<div class="code">
&lthtml&gt
	&lthead&gt
		&ltmeta charset=”utf-8”&gt
		&lttitle&gtLightbulb example&lt/title&gt
	&lt/head&gt
	&ltbody&gt
		&lth1&gtJavaScript Changes Images&lt/h1&gt
	&lt/body&gt
&lt/html&gt
	</div>
</div>
