<ul>
  <li>
    Unit 1: Tools
    <ol>
      <li><a href="/wp/labs/os.html">Operating Systems</a></li>
      <li><a href="/wp/labs/emacs-git.html">Editor and Source Control</a></li>
      <li><a href="/wp/labs/nodejs.html">Server</a></li>
      <li>
      	<a href="/wp/labs/html.html">
	       HTML (W3Schools)
	       </a>
      </li>
      <li>
	       <a href="/wp/labs/css.html">
	         CSS (W3Schools)
	       </a>
      </li>
      <li>
        <a href="/wp/mr/0209Sublime.html">
          09-Feb-2015 Sublime
        </a>
      </li>
      <li>
	       <a href="/wp/mr/0210JS1.html">
	         10-Feb-2015 JavaScript 1
	       </a>
      </li>
      <li>
        <a href="/wp/mr/0211jasmine1.html">
          11-Feb-2015 Jasmine
        </a>
        <ul>
	       <li>
          <a href="/wp/labs/jasmine/SpecRunner.html">
            Jasmine Example
          </a>
	       </li>
	     </ul>
      </li>
      <li>
        <a href="/wp/mr/0212JS2.html">
          12-Feb-2015 JavaScript 2
        </a>
      </li>
      <li>
        <a href="/wp/mr/0213review.html">
          13-Feb-2015 Review
        </a>
      </li>
    </ol>
  </li>
  <li>
    Unit 2: Programming the World Wide Web
    <ol>
      <li><a href="/wp/mr/0218E2eTest.html">18-Feb-2015 End to End Testing</a></li>
      <li><a href="/wp/mr/0219UnitTest.html">19-Feb-2015 Unit Testing</a></li>
      <li><a href="/wp/mr/0220review.html">20-Feb-2015 Review</a></li>
      <li>
        <a href="/wp/mr/0224ServerTDD.html">24-Feb-2015 Server TDD</a>
      </li>
      <li>
        <a href="/wp/labs/mongo.html">
          25-Feb-2015 Database
        </a>
      </li>
      <li>
        <a href="teamServer.html">
          26-Feb-2015 Team Server
        </a>
      </li>
      <li>
        27-Feb-2015 Review
      </li>
    </ol>
  </li>
  <li>
    Unit 3: Developing applications
    <ol>
      <li>
        Sprint 1
      </li>
      <li>
        Sprint 2
      </li>
      <li>
        Sprint 3
      </li>
      <li>
        Sprint 4
      </li>
      <li>
        Sprint 5
      </li>
      <li>
        Sprint 6
      </li>
    </ol>
  </li>
  <li>
    Unit 4: Design and Working in Teams
    <ol>
      <li>
	Sprint 0: Proposal
      </li>
      <li>
	Sprint 1
      </li>
      <li>
	Sprint 2
      </li>
      <li>
	Sprint 3
      </li>
      <li>
	Sprint 4
      </li>
      <li>
	Sprint 5
      </li>
    </ol>
  </li>
</ul>
