<div class="wp-text-area">
  <h2>Writing Unit Tests</h2>
  <p>
    What should we capture in our unit tests. The plan we developed for our code gives us insight. Remember, we planned to do the following:
    <ol>
      <li>
        Create a home page.
      </li>
      <li>
        Create a text box for input.
      </li>
      <li>
        Create a "Post" button.
      </li>
      <li>
        Connect the "Post" button
      </li>
      <li>
        Separate the HTML and JavaScript.
      </li>
      <li>
        Create an output area.
      </li>
      <li>
        Create an array to store the posts.
      </li>
    </ol>
  </p>
  <p>
    Some of these steps, such as creating the home page and creating a text box, are easily tested in the end-to-end testing, so we can leave them. When we get to writing automated end-to-end tests, we will address writing test for these elements of the program as well. This, however, involves using the web browser as a server and sending requests to it to perform actions on the page. For now, we will concentrate on unit tests for the JavaScript code.
  </p>
  <p>
    Of the steps we did, only three involved JavaScript:
    <ol>
      <li>
        Connect the "Post" button
      </li>
      <li>
        Create an output area.
      </li>
      <li>
        Create an array to store the posts.
      </li>
    </ol>
  </p>
  <p>
    What tests can we write for them?
    <ol>
      <li>
        Connect the "Post" button: make sure that the function the post button calls works. We cannot actually click the post button.
      </li>
      <li>
        Create an output area: make sure that when the function is called it will transfer the information.
      </li>
      <li>
        Create an array to store the posts: make sure that when the function is called it will put the information in the array.
      </li>
    </ol>
  </p>
  <h2>Setting up our Jasmine tests</h2>
  <h2>Making sure "Post" function works</h2>
  <p>
    
  </p>
  <h2>Makind sure the "Post" function transfers info</h2>
  <p>
    
  </p>
  <h2>Making sure the "Post" function puts information in the array</h2>
  <p>
    
  </p>
</div>



<div class="code">
  This is some code
</div>
<ol class="activity">
  <li class="enter">This is an item
  </li>
  <li class="do">
  </li>
</ol>
  </li>
  <li class="do">Read 
    <a href="">
      URL
    </a>
  </li>
</ol>
<div class="wp-text-area">
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="">
	Reference
      </a>
    </li>
  </ul>
</div>

<hr>
<address></address>
<!-- hhmts start --><!-- hhmts end -->
