<div class="wp-text-area">
  <h2>Writing Unit Tests</h2>
  <p>
    What should we capture in our unit tests. The plan we developed for our code gives us insight. Remember, we planned to do the following:
    <ol>
      <li>
        Create a home page.
      </li>
      <li>
        Create a text box for input.
      </li>
      <li>
        Create a "Post" button.
      </li>
      <li>
        Connect the "Post" button
      </li>
      <li>
        Separate the HTML and JavaScript.
      </li>
      <li>
        Create an output area.
      </li>
      <li>
        Create an array to store the posts.
      </li>
    </ol>
  </p>
  <p>
    Some of these steps, such as creating the home page and creating a text box, are easily tested in the end-to-end testing, so we can leave them. When we get to writing automated end-to-end tests, we will address writing test for these elements of the program as well. This, however, involves using the web browser as a server and sending requests to it to perform actions on the page. For now, we will concentrate on unit tests for the JavaScript code.
  </p>
  <p>
    Of the steps we did, only three involved JavaScript:
    <ol>
      <li>
        Connect the "Post" button
      </li>
      <li>
        Create an output area.
      </li>
      <li>
        Create an array to store the posts.
      </li>
    </ol>
  </p>
  <p>
    What tests can we write for them?
    <ol>
      <li>
        Connect the "Post" button: make sure that the function the post button calls works. We cannot actually click the post button.
      </li>
      <li>
        Create an output area: make sure that when the function is called it will transfer the information.
      </li>
      <li>
        Create an array to store the posts: make sure that when the function is called it will put the information in the array.
      </li>
    </ol>
  </p>
  <h2>Setting up our Jasmine tests</h2>
  <p>
    The first thing we need to do is set up a SpecRunner.html to run our tests. The easiest thing to do is copy the SpecRunner into a new file and run it. Let's call it <code>BlogTestRunner.html</code>
  </p>
   <ol class="activity">
    <li class="do">
      Copy <code>SpecRunner.html</code> into <code>~/src/wp/html/blog/BlogTestRunner.html</code>
    </li>
    <li class="do">
      Copy the jasmine directory into <code>~/src/html/blog</code>
    </li>
    <li class="do">
      Edit the head in <code>BlogTestRunner.html</code> to point to the correct directories for the Jasmine tests.
    </li>
    <li class="do">
      Copy <code>SpecRunner.html</code> into <code>~/src/wp/html/blog/BlogTestRunner.html</code>
    </li>
    <li>
      Add the body from <code>blog.html</code> to the <code>BlogTestRunner.html</code>
    </li>
    <li>
      Load <code>BlogTestRunner.html</code> from your server. Does is work? It show no specs?
    </li>
  </ol>
  <h2>Making sure "Post" function works</h2>
  <p>
    The first thing to do once you have the body of your page in the spec runner, is to create a new directory called <code>spec</code> in <code>~/src/wp/html/blog</code>.
  </p>
   <ol class="activity">
    <li class="do">
      Put a <code>spec</code> directory in your <code>blog</code> directory.
    </li>
    <li class="do">
      Create a new file in the <code>spec</code> directory called <code>blog-spec.js</code>
    </li>
    <li class="do">
      Edit the head in <code>BlogTestRunner.html</code> to point to <code>blog-spec.js</code>. Make sure it also points to <code>blog.js</code> as the source.
    </li>
  </ol>
  <p>
    We cannot actually check that clicking on the button to check that the function will be called. We can, however make sure that the function is defined. So we check that. Add the following code to your blog-spec.js, then load BlogTestRunner.html using your server.
  </p>
</div>  
<div class="code">
describe("blog", function() {

  it("defines a function called addBlog() to be called by the post button.", function () {
    expect(addBlog).toBeDefined();
  });
});
</div>
<div class="wp-text-area">
  <p>
    Once the program is works. That is, you see the Jasmine test running saying that one spec has successfully complete, save it in git. Now we are ready to make sure that the function actually moved information.
  </p>
  <h2>Making sure the "Post" function transfers info</h2>
  <p>
    To Check this we will want to check that the outArea variable is definec, not null and equal to the document element "blogOutput". We blank out the input area and check to make sure it is blank. We will then add some text to the input area by setting <code>inArea.value</code> to the string <code>Test</code>. We call the function and check that the value gets into the input area. Notice that we need to add the horizontal rule to the output because that is what <code>addBlog()</code> actually puts in.
  </p>
</div>
<div class="code">
describe("blog", function() {

  it("defines a function called addBlog() to be called by the post button.", function () {
    expect(addBlog).toBeDefined();
  });

  it("connects the input area to the output area", function () {
    expect(outArea).toBeDefined();
    expect(outArea).not.toBeNull();
    expect(outArea).toEqual(document.getElementById("blogOutput"))
    outArea.innerHTML = "";
    expect(outArea.innerHTML).toEqual("");
    inArea.value = "Test";
    addBlog();
    expect(outArea.innerHTML).toEqual("<hr>Test");
  });
});
</div>
<div class="wp-text-area">
  <p>
    When we are done, we check in to git and go on to the next test.
  </p>
  <h2>Making sure the "Post" function puts information in the array</h2>
  <p>
    
  </p>
</div>
<div class="code">
  This is some code
</div>
</div>



<div class="code">
  This is some code
</div>
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="">
	Reference
      </a>
    </li>
  </ul>
</div>

<hr>
<address></address>
<!-- hhmts start --><!-- hhmts end -->
