    <div class="container">
      <div class="jumbotron wp-jumbotron">
	<h1>{{title}}</h1>
	There are two classes: one
	for <a href="faculty.html">faculty</a> and one
	for <a href="students.html">students</a>. The classes are
	separated because the groups have different requirement. The
	faculty classes meet Monday Wednesday and Friday at 3:00; the
	student classes meet Tuesday, Thursday and first, third and
	fifth Saturdays. Links to the syllabi are in the menu bar above. 
      </div>
    </div>

