<!-- navigation.tpl.html -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Web Programming</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
	<li class="active">
	  <a href="#">Home</a>
	</li>
	<li>
	  <a href="/wp/mr/index.html">MRCE Class</a>
	</li>
	<li>
	  <a href="/wp/lessons/index.html">Lessons</a>
	</li>
	<li>
	  <a href="/wp/labs/index.html">Labs</a>
	</li>
      </ul>
    </div>
  </div>
</nav>
