<div class="wp-project">
  <h1>CSS Project </h1>
  <p>
    Use CSS to add style to your index.
  </p>
  <ol>
    <li>
      Create a directory for all of your CSS files called css in the
      html directgory.
    </li>
    <li>
      Create a CSS file in the css directory called main.css.
    </li>
    <li>
      Change the page titles on both index files to have be surrounded
      by a light gray box (color #EEEEEE) surrounded by a border that
      is 3 pixels wide, a radius of 4 pixels, a dark gray border
      (color #333333). Pad to 10 pixels.
    </li>
    <li>
      Change the color of the text on the page titles to #333333.
    </li>
    <li>
      Surround the IndexItems with a border like the page title and
      set the background to the same color as the page titles.
    </li>
    <li>
      Remember to check your work into Git.
    </li>
  </ol>
</div>
