<h1>Emacs and Git</h1>
      
<p>
  Program editors translate the programmers thoughts into text that
  the computer can understand. They produce source code, a binary
  sequence that represents characters in ASCII (pronounced
  ass-key). After the editor produces the code, other programs such as
  compilers or interpreters translate the source code into machine
  code that the computer can execute. Program editor differ from work
  process in that they target other programs rather than other just
  other humans. Source code has two audiences: the humans who write
  and mainting it and the programs that will translate it into
  executable code. Because source code is written for human, the
  program editor must help the human read and write it. It must be
  able to automatically format the source code to indicate to the
  writer what how it will appear to the program that will translate it
  into machine code. It provides a first line of defence against error
  through this formatting because it is immediately apparent when the
  editor's interpretation of the code differs from the programmer's.
</p>
<p>
  Source control programs keep track of changes to programs. These
  programs are crucial to developing programs. They allow the
  programmer to restore their programs to a previous version when
  changes go wrong and changes will eventually go wrong. They also
  allow teams of programmers to work together without breaking each
  others code.
</p>
<h2>Emacs</h2>
<p>
  I have chosen emacs because it is relatively simple, but extremely
  powerful. It is also available for all operating systems.  Because
  you loaded Linux, you are in luck. it is very easy to load both of
  these applications to your computer.
</p>
<h2>Git</h2>      
<p>
  I have chosen Git because it is extremely easy to start using. It
  also can keep track of code for teams. Finally, it is the course
  control system used for Linux and Nodejs, two of the programs we are
  using in this course.
</p>
