<div class="wp-project">
  <h1>HTML Project </h1>
  <p>
    Using HTML create an index for your web site.
  </p>
  <ol>
    <li>
      Create a file called index.html in /src/WebProgramming/server/html.
    </li>
    <li>
      Give the page specified by index.html the title: &ltname&gt's
      web site.
    </li>
    <li>
      Create a centered h1 heading at the top of your page saying:
      &ltyour name&gt's web site. Give this item the name
      "WebSiteIndex" and the class "PageTitleText". Put the heading in a
      div with the class "PageTitle".
    </li>
    <li>
      Add an unordered list that has one item in it: an anchor that
      will load WPprojects/index.html when it is clicked. Give the
      anchor the value: Web Programming Projects. Give the ordered
      list the name "WebSiteIndexItems" and the class
      "IndexItems". Give the item the name
      "ProgramingProjectsIndexItem" and the class
      "IndexItem". <strong>Note</strong> the list's class
      (WebSiteIndexItems) is the plural of the items in the list
      (WebSiteIndexItem). The name of the items reflects their
      meaning.
    </li>
    <li>
      Create a directory called WPprojects in
      /src/WebProgramming/server/html.
    </li>
    <li>
      Create a new html file called index.html in
      /src/WebProgramming/server/html/WPprojects 
    </li>
    <li>
      Create a centered H1 heading at the top of the second web page
      saying: &ltname&gt's Projects.
    </li>
    <li>
      Add an ordered list that has one item in it: an anchor that will
      load WPprojects/index.html when it is clicked. Give the anchor
      the value: Web Programming Projects. Give the list and its items
      the same classes as the previous list. Given the list the name
      "ProgrammingProjects" and the item "P1_TOC".
    </li>
    <li>
      If you have not done so already, create a Git repository for
      WebProgramming and check everything in.
    </li>
  </ol>
</div>
