<p>
  HyperText Markup Language is the language in which web pages are
  writtten. It is the language that web browsers know how to
  display. It is also the subject of this lab.
</p>
<p>
  Most of this lesson will be done at
  <a href="http://www.w3schools.com/html/default.asp">
    W3 Schools.
  </a>
  W3 Schools is a web site run by a family from Norway which earns
  money by placing advertizements on the site. By having you run
  through their tutorial, rather than writing one of my own, I can
  make sure that the tutorial stays up to date. It is an element of
  DRY (Don't Repeat Yourself). The language is standard and their
  tutorials are the most popular on the web. By using theirs, you
  learn from a resource that is likely to be available and updated
  when you need a refresher or when the language changes.
</p>
<ol class="activity">
  <li class="do">
    Work throug the lab at:
    <a href="http://www.w3schools.com/html/default.asp">
      W3 Schools.
    </a>
  </li>
</ol>
