<div class="wp-text-area">
  <p>
    JavaScript works in the browser. It provides client side programming for the Web. This first lesson covers basic programming in JavaScript. The next lesson covers object oriented programming in JavaScript.
  </p>
  <p>
    I will not be covering all of JavaScript. As you did for HTML and CSS, you should work through the lessons at 
    <a href="http://www.w3schools.com">
      W3 Schools.
    </a>
  </p>
</div>
<ol class="activity">
  <li class="do">
    Work through the lab at:
    <a href="http://www.w3schools.com/js/default.asp">
      JS Tutorial.
    </a>
  </li>
</ol>