<p>
  JavaScript works in the browser. It provides client side programming
  for the Web. This first lesson covers basic programming in
  JavaScript. The next lesson covers object oriented programming in
  JavaScript.
</p>
<p>
  Most of this lesson will be done at
  <a href="http://www.w3schools.com">
    W3 Schools.
  </a>
</p>
<ol class="activity">
  <li class="do">
    Work throug the lab at:
    <a href="http://www.w3schools.com/js/js_object_definition.asp">
      JS Object
    </a>
    and
    <a href="http://www.w3schools.com/js/js_function_definition.asp">
      JS Function.
    </a>
  </li>
</ol>
