<h1>SLQ to NoSql</h1>
      
<p>
  Databases contain data. Technically, a ledger book or a spreadsheet
  are databases, but usually, when databases refer to computer
  supported databases. On the computer, a Database Management System
  (DBMS) manages the data. The DBMS lets user create, read, update and
  delete (CRUD) the data it stores. It also makes sure that when
  multiple users update the same records reasonable things happen.
</p>
<p>
</p>
<h2>SQL</h2>
<p>
  The most common DBMS's use SQL (pronouced "sequel" standing for
  Structured Query Language). SQL uses a relational model where data
  is structured in tables where each row in the table represents a
  different object in the real world.
</p>
<h2>Mongo</h2>      
<p>
  Here we will be using Mongo, a NoSQL (pronounced "no-sequel"
  standing for Not Only SQL), because managing data in Mongo is
  tailored to the Web. Mongo data looks like JavaScript objects making
  it fit easily with JavaScript programs.
</p>
