<h1>NodeJS</h1>
<p>
  NodeJs is a framework for building web servers. A web server is a
  program that provides web pages to a browser. The browser contacts
  the server using a URL and the server returns the page that
  corresponds to that page. At least, this is how the web started out
  and how we are going to start out.
</p>
<p>
  The World Wide Web started as a way for academics to share
  papers. Tim Berners Lee proposed it in 1990 and implemented it in
  1991 as a read only way for people to give people access to their
  hard drives where they kept their papers. It was very simple: you
  marked up your papers so a browser knew how to render them and you
  could put "anchors" in your paper and associate other papers with
  them. That way, you need only click on anchor text and a copy of the
  other paper would be displayed. It was much simpler than the
  traditional method of writing the reference on an index card, going
  to the library and trying to convince the librarian to order the
  paper from another library that actually had a copy of the article.
</p>
<p>
  WWW did not change the world immediately. Instead, the world change
  in 1993 when Marc Andreessen released Mosaic in 1993.  Mosaic was
  the first browser that displayed graphics, sound and video. This
  made the Internet something that everyone could, and eventually
  would use. Mosaic became Netscape (or Mozilla for Mosaic Killer),
  which in turn because Firefox.
</p>
<p>
  We will start out with a primitive WWW which only serves files like
  the Mosaic; it does not do all of the things that the modern WWW
  does.
</p>
<a href="http://en.wikipedia.org/wiki/History_of_the_World_Wide_Web">
  History of the World Wide Web
</a>
