<ul>
  <li>
    Unit 1: Development of Computing and the World Wide Web
    <ol>
      <li><a href="/wp/labs/os.html">Operating Systems</a></li>
      <li><a href="/wp/labs/emacs-git.html">Editor and Source Control</a></li>
      <li><a href="/wp/labs/nodejs.html">Server</a></li>
      <li>
	<a href="/wp/labs/html.html">
	  HTML (W3Schools)
	</a>
      </li>
      <li>
	<a href="/wp/labs/css.html">
	  CSS (W3Schools)
	</a>
      </li>
      <li>
	<a href="/wp/labs/bootstrap.html">
	  Bootstrap
	</a>
      </li>
    </ol>
  </li>
  <li>
    Unit 2: Programming the World Wide Web
    <ol>
      <li>
	<a href="/wp/labs/js1.html">
	  Functional JavaScript (W3Schools)
	</a>
      </li>
      <li>
	<a href="/wp/labs/js2.html">
	  Object Oriented JavaScript (W3Schools)
	</a>
      </li>
      <li>
	<a href="/wp/labs/testing.html">Testing</a>
	<ul>
	  <li>
	    <a href="/wp/labs/jasmine/SpecRunner.html">Jasmine Example</a>
	  </li>
	</ul>
      </li>
      <li><a href="/wp/labs/mongo.html">Database</a></li>
      <li>
	<a href="http://www.w3schools.com/angular/default.asp">
	  Angular
	</a>
      </li>
      <li><a href="/wp/labs/agilefant.html">Agilefant(TBD)</a></li>
      <li><a href="">Express(TBD)</a></li>
    </ol>
  </li>
  <li>Unit 3: Developing applications</li>
  <ol>
    <li>
      Sprint 1
    </li>
    <li>
      Sprint 2
    </li>
    <li>
      Sprint 3
    </li>
    <li>
      Sprint 4
    </li>
  </ol>
  <li>Unit 4: Design and Working in Teams</li>
  <ol>
    <li>
      Sprint 1
    </li>
    <li>
      Sprint 2
    </li>
    <li>
      Sprint 3
    </li>
    <li>
      Sprint 4
    </li>
    <li>
      Sprint 4
    </li>
  </ol>
</ul>
