<div class="wp-text-area">
  <h2>No Lab Written</h2>
  <p>
    This is the lab section for this page. It has not been written
    yet. It is only the template.
  </p>
</div>
<div class="code">
  This is some code
</div>
<ol class="activity">
  <li class="enter">This is an item
  </li>
  <li class="do">
  </li>
</ol>
  </li>
  <li class="do">Read 
    <a href="">
      URL
    </a>
  </li>
</ol>
<div class="wp-text-area">
  <h3>References</h3>
  <ul class="references">
    <li class="ref">
      <a href="">
	Reference
      </a>
    </li>
  </ul>
</div>

<hr>
<address></address>
<!-- hhmts start --><!-- hhmts end -->
